@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0px auto;
}
.apply-box {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  margin: 0px auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
.small-heading {
  font-size: 20px;
}
.form-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.form-content label {
  font-size: 15px;
  margin-bottom: 5px;
}
.form-content input, select, textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.form-content input:focus {
  outline: 1px solid #ccc;
}
.button-area {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.button-area button {
  background-color: red;
  border: 2px solid transparent;
  padding: 5px 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.button-area button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: #000;
  transition: 0.3s ease-out;
}
.form-text-area {
  grid-column: 1 / span 2;
}
.form-text-area textarea {
  width: 100%;
}
textarea:focus {
  outline: 1px solid #ccc;
}








@media (max-width: 460px) {
  .form-text-area {
      grid-column: 1 / span 1;
    }
}


